body {
    background-color: #d5f9de;
}


/*Top part of the website*/

#bigsqua {
    background-color: #a3b6d4;
    text-align: center;
}

.prod {
    display: flex;
    flex-wrap: center;
    justify-content: center;
    text-align: center;
    background-color: #949ac0;
    margin: 3px;
}

.bellow {
    display: flex;
    flex-direction: column;
}

.tag {
    font-family: Verdana;
    text-align: center;
    font-size: 16px;
}

.name {
    font-size: 48px;
}

.product_image {
    align-self: center;
    width: auto;
    height: 150px;
}